{{ define "main" }}
<div class="post h-entry">
  <span class="post-date"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 January 2006" }}</time></span>
  {{ if .Title }}
    <h1 class="page-title p-name">{{ .Title }}</h1>
  {{ end }}
  <div class="e-content">
  {{ .Content }}
  </div>
</div>

{{ if .Site.Params.include_conversation }}
<div class="comments">
<p>{{ partial "conversation-link.html" . }} {{ partial "reply-by-email.html" . }}</p>
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
</div>
{{ end }}

<div class="subscribe">
  <p>Subscribe to my blog to get new posts sent to your inbox. Max 1 per week.</p>
<form method="POST" action="https://micro.blog/users/subscribe/60824">
  <input type="text" name="email" size="30" placeholder="Your email address"> 
  <input type="submit" value="Subscribe">
</form>
</div>

{{ end }}