{{ define "main" }}
<div class="post h-entry">
  <span class="post-date"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 January 2006" }}</time></span>
  {{ if .Title }}
    <h2 class="post-title p-name">{{ .Title }}</h2>
  {{ end }}
  <div class="e-content">
  {{ .Content }}
  </div>
</div>

{{ if .Site.Params.include_conversation }}
<div class="comments">
<p>{{ partial "conversation-link.html" . }}</p>
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
</div>
{{ end }}
{{ $bookmarks := getJSON "https://micro.blog/feeds/Mtt/bookmarks/20ca6b1929f3b4adbbb2.json" }}

{{ range $bookmarks.items }}
  {{ if not .title }}
    <div class="h-entry">
      <a class="u-bookmark-of h-cite" href="{{ .url }}">
        <p>{{ .content_html | plainify | truncate 140 }}</p>
      </a>
    </div>
  {{ end }}
{{ end }}
{{ end }}