/* VARIABLES */

:root {
	--main-accent-color: #20343F;
	--main-background-color: #fff;
	--main-text-color: #000;
	--secondary-accent-color: #AEAEAE;
}

/* BASIC SETTINGS */

html {
	webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 1em;
}

body {
	font-family: Merriweather,serif;
	line-height: 1.7;
	margin: 0;
	font-weight: 300;
}

.container {
	max-width:  750px;
	margin:  0 auto;
}

.wrapper {
	max-width: 750px;
	margin: 0 auto;
}

/* HEADER */

header {
	color: var(--main-background-color);
	background: var(--main-accent-color);
	width: 100%;
	padding: 25px 0;
}

header a {
	color: var(--main-background-color);
	border-bottom: 1px solid var(--main-background-color);
}
header h1 {
	margin: 0;
	padding-top: 10px;
}
header .lead {
	max-width: 450px;
}

header h1 a span {
	display: none;
}

header h1 a img {
	width: 75px;
}

/* LINKS */

a {
	font-weight: bold;
	color: var(--main-accent-color);
	text-decoration: none;
	border-bottom: 1px solid var(--main-accent-color);
}

/* HEADERS */

h1, h2, h3, h4, h5, h6 {
	font-family: merriweather-sans, sans-serif;
	font-weight: 800;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.875em;
}

h3 {
	font-size: 1.750em;
}

h4 {
	font-size: 1.625em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.375em
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	border-bottom: none;
}

.page h1.page-title {
	margin-top: 2em;
}

h1.page-title {
	margin-top:  0;
	line-height: 1.2;
	letter-spacing: -.1rem;
}

/* META/BYLINES */

a.post-date, .post-date {
	border: none;
	color: var(--secondary-accent-color);
	font-weight: normal;
}

a span.dt-published {
	padding: 0;
}

/* POST SPACING */

.post {
	margin: 50px 0;
}

/* MAKE IMAGES FULL WIDTH */

img {
	width: 100%;
	height: auto;
}

/* SITEWIDE PADDING BY ELEMENT */

p, h1, h2, h3, h4, h5, h6, ul, ol, blockquote, pre, .dt-published {
	padding: 0 10px;
}

/* ElIMINATE TOP MARGIN OF FIRST PARAGRAPH OF EACH POST */
.e-content p:first-of-type {
	margin-top: 0;
}

/* LISTS */
ul, ol {
	margin-left: 30px;
}

li {
	margin-bottom: 5px;
}

/* COMMENTS SECTION */

.microblog_conversation {
	padding: 0 10px;
}
.microblog_post {
	margin: 40px 0;
}
.microblog_user {
	font-weight: bold;
}
.microblog_avatar {
	display:  none;
}
.microblog_text p {
	padding:  0;
	margin: 0;
}
.microblog_time a {
	color: var(--secondary-accent-color);
	font-size: 12px;
	border: none;
	font-weight: normal;
}

.conversation-on-mb, .reply-by-email {
  border-radius: 5px;
  border: none;
  padding: 10px;
  background: #ececec;
  font-weight: normal;
}

/* NOTE PARAGRAPH STYLE */

p.post-note {
	background: #ffffe0;
	border-left: 5px solid yellow;
	padding: 10px;
}

/* ELEMENTS */

blockquote {
	border-left: 5px solid var(--main-accent-color);
}

hr {border: 1px solid #ececec; margin-top: 25px;}

pre {
	background: #ececec;
	overflow: auto;
}

code {
	background: #ececec;
}

pre code {
	background: none;
}

.footnote-ref, .footnote-backref {
	border: none;
}

.footnote-ref {
	background: #ececec;
	border-radius: 5px;
	padding: 0 2px;
}

/* FOOTER STYLING */

footer {
	border-top: 1px solid #ececec;
	margin-top: 50px;
}
