/* VARIABLES */

:root {
	--main-accent-color: #20343F;
	--main-background-color: #fff;
	--main-text-color: #20343F;
	--secondary-accent-color: #AEAEAE;
	--main-link-color: #3979cc;
	--main-link-hover-color: #cb3b69;
	--main-header-color:  #000;
	--secondary-background-color: #F2F2F6;
	--button-text-color: #fff;
	--note-background: #ffffe0;
	--hr-color: #0561d1;
	--post-feed: #fff7ed;
	--black: #000;
	--white: #fff;
}

/* BASIC SETTINGS */

html {
	webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 1em;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF UI Text", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	line-height: 1.7;
	margin: 0;
	font-size: 18px;
	background: var(--main-background-color);
	color: var(--main-text-color);
}

.container {
	max-width:  760px;
	margin:  0 auto;
	padding: 0 15px;
}

.wrapper {
	max-width: 760px;
	margin: 0 auto;
	padding: 0 15px;
}

/* HEADER */

header {
	color: var(--main-text-color);
	background: var(--main-background-color);
	width: 100%;
	padding: 25px 0 0 0;
}

header a {
	color: var(--main-link-color);
}
header h1 {
	margin: 0;
	padding-top: 10px;
}
header h1 a {
	border: none;
	color: var(--main-header-color);
}
header .lead {
	margin-bottom: 10px;
}

header a img {
	width: 75px;
	border-radius: 75px;
}

header ul {
	list-style-type: none;
	margin: 0;
	font-size: 1.4em;
	padding: 0;
}

header ul li {
	display: inline;
	padding-right: 10px;
}

header ul li a {
	text-decoration: none;
	border: none;
}

/* LINKS */

a {
	color: var(--main-link-color);
	text-decoration: none;
}
a:hover {
	color: var(--main-link-hover-color);
	transition: all 0.2s;
}

/* HEADERS */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	color: var(--main-header-color);
	margin-bottom: 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	border: none;
}

/* .page h1.page-title {
	margin-top: 2em;
} */

h1.page-title {
	margin-top:  0;
	line-height: 1.2;
	margin-bottom: 1rem;
}

/* META/BYLINES */

a.post-date, .post-date {
	border: none;
	color: var(--main-text-color);
	font-size: 15px;
}

a span.dt-published {
	padding: 0;
}

a.post-date:hover, a span.dt-published:hover {
	color: var(--secondary-accent-color);
}

/* POST SPACING */

.h-entry {
	margin: 50px 0 60px;
}

/* MAKE IMAGES FULL WIDTH */

img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

/* SITEWIDE PADDING BY ELEMENT */

/*p, h1, h2, h3, h4, h5, h6, ul, ol, blockquote, pre, .dt-published {
	padding: 0 15px;
}*/

/* ElIMINATE TOP MARGIN OF FIRST PARAGRAPH OF EACH POST */
.e-content p:first-of-type {
	margin-top: 0;
}

/* LISTS */

li {
	margin-bottom: 5px;
}

/* COMMENTS SECTION */

.microblog_post {
	margin: 15px 0;
	padding: 25px;
	background: var(--secondary-background-color);
	border-radius: 10px;
	max-width: 500px;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.microblog_text img {
	max-height: 500px;
	width: auto;
	display: block;
	margin: 10px 0;
}
.microblog_user {
	font-weight: bold;
	padding-bottom:10px;
}

.microblog_avatar {
	max-width: 40px !important;
	border-radius: 30px;
	vertical-align: middle;
}
.microblog_user .microblog_fullname {
	vertical-align: middle;
}
.microblog_text p {
	padding:  0;
	margin: 0;
}
.microblog_time a {
	color: var(--secondary-accent-color);
	border: none;
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.microblog_time a:after {
	content: ' →';
}

.conversation-on-mb, .reply-by-email, .finish-reading {
  border-radius: 12px;
  border: none;
  padding: 8px 12px;
  background: var(--main-link-color);
  font-weight: normal;
  color: white;
  font-size: 1em;
}
.conversation-on-mb:hover, .reply-by-email:hover, .finish-reading:hover {
	background: var(--main-link-hover-color);
	color: var(--button-text-color);
}


/* NOTE PARAGRAPH STYLE */

p.post-note {
	background: var(--note-background);
	padding: 10px 25px;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
	max-width: fit-content;
}

/* ELEMENTS */

blockquote {
	background: var(--secondary-background-color);
	padding: 10px;
	margin:  0;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
blockquote p {
	padding-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

hr {
  background: none;
  border: 0;
  margin: 2em 0;
  padding: 0;
}
hr::after {
  content: '***';
  display: block;
  line-height: 1;
  color: var(--hr-color);
  text-align: left;
}

pre {
	background: var(--secondary-background-color);
	overflow: auto;
	padding: 10px 25px;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

code {
	background: var(--secondary-background-color);
}

pre code {
	background: none;
}

.footnote-ref, .footnote-backref {
	border: none;
}

.footnote-ref {
	background: var(--secondary-background-color);
	border-radius: 5px;
	padding: 0 2px;
}

/* FOOTER STYLING */

footer {
	margin-top: 50px;
	margin-bottom: 25px;
}

footer ul {
	list-style-type: none;
	margin: 0;
	font-size: 1.4em;
	padding: 0;
	text-align: center;
}

footer ul li {
	display: inline;
	padding-right: 10px;
}

footer ul li a {
	text-decoration: none;
	border: none;
}

/* PAGINATION */
.post-nav {
	margin-bottom: 15px;
	text-align: center;
}
.prev, .next {
	margin: 0px 10px;
}

@media (prefers-color-scheme: dark) {
:root {
	--main-accent-color: #20343F;
	--main-background-color: #1D2531;
	--main-text-color: #fff;
	--secondary-accent-color: #AEAEAE;
	--main-link-color: #3979cc;
	--main-link-hover-color: #cb3b69;
	--main-header-color:  #fff;
	--secondary-background-color: #0E1218;
	--button-text-color: #fff;
	--note-background: #0E1218;
	--hr-color: #0561d1;
	--post-feed: #0E1218;
}
.micro .post-feed {
		background: black;
	}
}

/* PHOTOS PAGE */

.container:has(> .photos-grid) {
	max-width: 100%;
}

.photos-grid * {
  box-sizing: border-box;
}

.photos-grid *:before,
.photos-grid *:after {
  box-sizing: inherit;
}

.photos-grid {
  display: flex;
  gap: 0.5rem;
}

.photos-grid img {
  backdrop-filter: invert(5%);
  -webkit-backdrop-filter: invert(5%);
}

.photos-grid.photos-grid--style-grid {
  flex-wrap: wrap;
}

.photos-grid--style-grid .photos-grid__item {
  display: block;
  width: auto;
  flex-grow: 1;
  position: relative;
}

.photos-grid--style-grid .photos-grid__item img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/**
Masonry:
**/

.photos-grid.photos-grid--style-masonry {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin-top: 60px;
}

.photos-grid.photos-grid--visible-desktop {
  display: none;
}

.photos-grid__column {
  display: flex;
  flex-direction: column;
}

.photos-grid--style-masonry .photos-grid__item img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 576px) {
  .photos-grid--style-grid .photos-grid__item {
    height: 40vh;
  }

  .photos-grid--style-grid .photos-grid__item img {
    width: auto;
    height: 100%;
  }

  .photos-grid.photos-grid--visible-desktop {
    display: grid;
  }

  .photos-grid.photos-grid--visible-mobile {
    display: none;
  }
}

.widget-container {
	display: grid; 
	grid-template-columns: repeat(4, 1fr); 
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}
.widget-content {
	margin: 10px 0;
	clear: both;
	background: var(--secondary-background-color);
	padding: 1em;
	border-radius: 10px;
	margin: 10px 0;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.micro {
grid-row: 1;
grid-column: 1/5;
}
.long {
grid-row: 2;
grid-column: 1/5;
}
.pinboard {
grid-row: 3;
grid-column: 1/5;
}
.bookshelf {
grid-row: 4;
grid-column: 1/3;
}
.movies {
grid-row: 4;
grid-column: 3/5;
}
.bookshelf_book {
	margin-top: 0;
}
.bookshelf img {
	max-width: 50px;
	height: auto;
	border-radius: 0;
	padding-right: 5px;
	margin-right: 3px;
	float: left;
}
.bookshelf_title {
	font-weight: bold;
}
.page .bookshelf_book {
	margin: 50px 0;
}


.pinboard ul {
	padding: 0;
	margin: 0;
}
.post-feed {
	background: var(--post-feed);
	padding: 1em;
	border-radius: 10px;
	margin: 10px 0;
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.post-feed p:last-of-type {
	margin-bottom: 0;
}
.post-feed img:first-of-type {
	margin-top: 18px;
}

.pinboard li a {
	display: block;
	font-weight: bold;
}

.pinboard li {
	list-style-type: none;
	margin-bottom: 1.5em;
}
.pinboard li:last-of-type {
	margin-bottom: 0;
}
.more {
	text-align: right;
}

.rss-box ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.rss-box li {
	padding: .5em 0;
}
.rss-box li a {
	font-weight: bold;
}

.arrow {
	
}

@media (prefers-color-scheme: dark) {
:root {
	--main-accent-color: #20343F;
	--main-background-color: #1D2531;
	--main-text-color: #fff;
	--secondary-accent-color: #AEAEAE;
	--main-link-color: #3979cc;
	--main-link-hover-color: #cb3b69;
	--main-header-color:  #fff;
	--secondary-background-color: #0E1218;
	--button-text-color: #fff;
	--note-background: #0E1218;
	--hr-color: #0561d1;
	--post-feed: #0E1218;
}
.micro .post-feed {
		background: black;
	}
}

@media only screen and (max-width: 750px) {
	.bookshelf, .movies {
		grid-column:1/5;
	}
	.movies {
		grid-row: 5;
	}
}