{{ define "main" }}
	<div class="page">
		<h1 class="page-title">{{ .Title }}</h1>
		<p>The following is the full list of all content posted to this site. Click the date or title to see more details and/or images.</p>
		<p class="post-note"><strong>Legend:</strong><br>📖 Long Form Posts<br>✏️ Short Update<br>📷 Image (In Progress)</p>
	{{ $list := (where .Site.Pages "Type" "post") }}
	{{ range $list }}

		<p class="archive-list">
			<a href="{{ .Permalink }}" class="u-url"><span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</span></a>:
			{{ if .Title }}
				<span>📖</span> <a href="{{ .Permalink }}" class="u-url"><span class="p-name"><b>{{ .Title }}</b></span></a>
			{{ else }}
			<span class="p-summary">
{{ $stringCheck := .Content }}
		{{ $stringResult := substr $stringCheck 0 10 }}
		{{ $image := "<img" }}
		{{ $video := "<video" }}
		{{ $audio := "<audio" }}
		{{ if in $stringResult (or ($image) ($video) ($audio)) }}
		📷{{ .Summary | truncate 50 }}</span>
		{{ else }}
			✏️ {{ .Summary | truncate 50 }}</span>
			{{ end }}
		</p>

	{{ end }}
</div>
{{ end }}