{{ define "main" }}
	<div class="page">
		<h2 class="page-title">{{ .Title }}</h2>
</ul>
		<p>If you're looking for something specific or just want to play a game of chance, you've come to the right place. Browse by category or dive into the full post list. Enjoy!
		</p>
<h3>Categories</h3>
{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
		{{ if gt (len $list) 0 }}
			<ul class="archive-categories">
				{{ range $list }}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
				{{ end }}
			</ul>
		{{ end }}

<h3>All Posts</h3>
		<p class="post-note"><strong>Legend:</strong><br>📖 Long Form Posts<br>✏️ Short Update<br>📷 Image</p>
	{{ $list := (where .Site.Pages "Type" "post") }}
	{{ range $list }}

		<p class="archive-list">
			<a href="{{ .Permalink }}" class="u-url"><span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</span></a>:
			{{ if .Title }}
				<span>📖</span> <a href="{{ .Permalink }}" class="u-url"><span class="p-name"><b>{{ .Title }}</b></span></a>
			{{ else }}
			<span class="p-summary">
			{{ if isset .Params "photos" }}📸 {{ .Summary | truncate 50 }}</span>
			{{ else }}
			✏️ {{ .Summary | truncate 50 }}</span>
			{{ end }}
			{{ end }}
		</p>

	{{ end }}
</div>
{{ end }}