{{ define "main" }}
<div class="posts h-feed">

{{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 25) }}
{{ range $paginator.Pages  }}

  <div class="post">
    <a href="{{ .Permalink }}" class="post-date u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 Jan 2006" }}</time>⌘</a>
	{{ if .Title }}
		<h1 class="page-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	{{ end }}
	<div class="e-content">
    {{ .Content }}
    </div>
  </div>

{{ end }}

</div>
{{ end }}
